<!DOCTYPE html>
<html ng-app="application">
  <head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
    <!-- Modal -->
    <div ng-controller="addTask">
      <div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-labelledby="add-task-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add new task</h4>
            </div>
            <div class="modal-body">
              Name:&nbsp<input type="text" ng-model="listName"><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewTask()" >OK</button>
            </div>
          </div>
        </div>
      </div>
  </div>

    <div class="jumbotron banner">
        <h1>To-Do Application</h1>
        <p>Simple to-do application by AngularJS + Bootstrap</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-task-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Task</button>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>
      var tasks = [];
      var app = angular.module('application', []);
      app.controller('addTask', function($scope) {
        $scope.addNewTask = function() {
          tasks.push({name:$scope.listName, status:false});
        };
      });
      app.controller('')
    </script>
  </body>
</html>
